#nav-bar{
    background-color: #3700B4;
}

.btn-primary{
    background-color: #6200EE;
}

table.table {
    margin-top: 75px;
}

i.fas.fa-user-plus {
    margin-right: 4px;
}

.container-fluid{
    height: 90px;
}

a i{
    color: #4D4F5C;
}

.fa-trash{
    margin-left: 20px;
}